*,
::before,
::after {
  box-sizing: border-box;
}

/* Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Libre+Baskerville:400");

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /*16px*/

:root {
  /* Primary Colors */
  --primary-100: #e0f4cd;
  --primary-200: #c2e99b;
  --primary-300: #a3df68;
  --primary-400: #85d436;
  --primary-500: #66c904;
  --primary-600: #52a103;
  --primary-700: #3d7902;
  --primary-800: #295002;
  --primary-900: #142801;
  /* Secondary Colors */
  --secondary-100: #d3f3f8;
  --secondary-200: #a7e6f1;
  --secondary-300: #7cdaeb;
  --secondary-400: #50cde4;
  --secondary-500: #24c1dd;
  --secondary-600: #1d9ab1;
  --secondary-700: #167485;
  --secondary-800: #0e4d58;
  --secondary-900: #07272c;
  /* Grey Colors */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* Fonts */
  --headingFont: "Libre Baskerville", serif;
  --bodyFont: "Source Sans Pro", sans-serif;
  --smallText: 0.8rem;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  /* Rest Of Vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1170px;
  --fixedWidth: 600px;
  /* Box Shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h4 {
    font-size: 1.75rem;
  }
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* img:not(){
} */

/* Section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* Buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}

.btn-hipster:hover {
  color: var(--primary-500);
  background: var(--primary-700);
}

.btn-block {
  width: 100%;
}

/* Alerts */
.alert {
  padding: 0.375rem 0.75rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* Form */
.form {
  /* width: 90vw; */
  /* max-width: var(--fixedWidth); */
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* Loading Spinner */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}

.loading {
  margin: 0 auto;
}

/* Title */
.section-title {
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.section-title h2 {
  margin-bottom: 0.25rem;
}

.underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.15rem;
  margin: 0 auto;
}

.divider {
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(--primary-500),
    var(--secondary-500),
    var(--primary-500)
  );
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

/* 
=============
Navbar
=============
*/
.navbar {
  line-height: 1;
  z-index: 3;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
}

.fixed-nav {
  box-shadow: var(--shadow-4);
  background: var(--primary-500);
}

.background {
  background: var(--primary-500);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 2rem;
  color: var(--white);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  transform: rotate(-90deg) scale(1.3);
}

.logo {
  margin-bottom: 0;
  letter-spacing: var(--letterSpacing);
  font-weight: bold;
  background: var(--black);
  padding: 0.3rem 0.5rem;
  border: 2px solid var(--white);
  color: var(--white);
}

.logo span {
  background: var(--secondary-500);
  color: var(--white);
  display: inline-block;
  padding: 0.1rem 0.3rem;
  border: 2px solid var(--white);
  font-style: italic;
}

.links-container {
  overflow: hidden;
  height: 0;
  transition: all 0.8s ease-in-out;
}

.nav-links {
  margin: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  padding-bottom: 0.5rem;
}

.show-links {
  height: 288px;
}

.nav-links a {
  color: var(--white);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  display: block;
  padding: 0.75rem 1rem;
  transition: var(--transition);
}

.nav-links a:hover {
  background: var(--secondary-500);
  padding-left: 1.5rem;
}

.nav-social {
  display: none;
}

@media screen and (min-width: 1037px) {
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: var(--maxWidth);
    margin: 0 auto;
  }
  .nav-header {
    padding: 0.5rem;
  }
  .links-container {
    height: auto !important;
  }

  .nav-links {
    display: flex;
    gap: 0 1.6rem;
    padding-bottom: 0;
  }

  .nav-links a {
    padding: 0;
    transition: var(--transition);
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
  }
  .nav-links a:hover {
    padding: 0;
    background: none;
    border-color: var(--white);
  }
  .nav-social {
    display: flex;
    gap: 0 9px;
    font-size: 1.1rem;
  }
  .nav-social a {
    color: var(--white);
    transition: var(--transition);
  }
  .nav-social a:hover {
    color: var(--secondary-600);
  }
}

/* 
===============
Header
===============
*/
.header {
  min-height: 100vh;
  padding: 7rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/main-bcg.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  color: var(--white);
  text-align: center;
}

.banner h1 {
  text-shadow: 2px 2px 1px var(--grey-900);
  letter-spacing: var(--letterSpacing);
  padding: 0 1rem;
}

.banner h1 span {
  background: var(--secondary-500);
  display: inline-block;
  padding: 0 0.2rem;
  border: 3px solid var(--white);
  font-style: italic;
}

.skew {
  transform: skewX(30deg);
  background: rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 0.5rem;
  margin: 0 auto;
  border: 3px solid var(--white);
}

.banner h4 {
  color: var(--white);
  transform: skewX(-30deg);
  margin-bottom: 0;
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.banner p {
  padding: 0 1.5rem;
  letter-spacing: var(--letterSpacing);
}

.banner-btn {
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  .skew {
    width: 350px;
  }
}
/* 
===============
Skills
===============
*/
.skills {
  background: var(--grey-100);
}

.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}

.skill:nth-of-type(1),
.skill:nth-of-type(3) {
  background: var(--white);
}

.show-icon .fa-user-tie {
  transform: translateY(-2px);
  color: var(--primary-500);
  text-shadow: 1px 1px 2px #222;
}

.show-icon .fa-users-cog {
  transform: translateY(-2px);
  color: var(--primary-500);
  text-shadow: 1px 1px 2px #222;
}

.show-icon .fa-network-wired {
  transform: translateY(-2px);
  color: var(--primary-500);
  text-shadow: 1px 1px 2px #222;
}

.show-icon .fa-money-check-alt {
  transform: translateY(-2px);
  color: var(--primary-500);
  text-shadow: 1px 1px 2px #222;
}

.show-icon .skill-title .underline {
  opacity: 1;
}

.skill .skill-icon {
  font-size: 2.1rem;
  transition: var(--transition);
  display: block;
}

.skills .underline {
  height: 2px;
  margin-top: 0.5rem;
  transition: var(--transition);
  opacity: 0;
}

.skill-text {
  max-width: 17rem;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .skills-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .skill {
    flex: 0 0 50%;
  }
}

/* @media screen and (min-width: 768px) {
  .skill {
    flex: 0 0 33.333%;
  }
} */

@media screen and (min-width: 992px) {
  .skill {
    flex: 0 0 25%;
  }
}

/* 
===========
About
===========
*/
.about-img {
  margin-bottom: 2rem;
}

.about-picture-container {
  background: var(--secondary-900);
  border: 3px solid var(--primary-500);
  max-width: 30rem;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
  border-radius: var(--borderRadius);
  position: relative;
}

.about-picture-container::after {
  content: "we are professonals \a call us today \a (682) 219-9577";
  position: absolute;
  white-space: pre;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: 0.7s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  font-size: 1.3rem;
  border-right: 10px solid var(--primary-500);
}

.about-picture {
  transition: all, 0.7s linear;
  transform: scale(1.3) rotate(12deg);
}

.show-slide .about-picture {
  transform: scale(1) rotate(0);
}

.slide-img .about-picture-container::after {
  transform: translate(0) rotate(0);
}

.slide-img .about-picture-container {
  box-shadow: 3px 3px 5px 1px var(--black);
}

.about-info .section-title {
  text-align: left;
}

.about-info .section-title .underline {
  margin-top: 0.2rem;
  margin-left: 0;
}

.about-text {
  max-width: 26rem;
}

.about-btn {
  padding: 0.2rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3rem;
  }
  .about-img {
    margin-bottom: 0;
  }
}

/* 
==============
Services
==============
*/
.services {
  background: var(--grey-200);
}

.service-info {
  margin-bottom: 4rem;
}

.service-info .section-title {
  text-align: left;
}

.service-info .underline {
  margin-left: 0;
}

.service-text {
  letter-spacing: 0.5px;
  max-width: 26rem;
}

.service-btn {
  padding: 0.2rem 0.5rem;
}

.service {
  margin-bottom: 2rem;
}

.service-img-container {
  margin-bottom: 1rem;
  border-radius: var(--borderRadius);
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

.service-animation .service-img-container {
  box-shadow: 3px 3px 3px 2px var(--black);
}

.service-animation .service-overlay {
  transform: translateY(0);
}

.service-animation .service-overlay p {
  opacity: 1;
}

.service-animation .service-img {
  transform: scale(1);
  filter: blue(2px);
}

.service-img {
  height: 17rem;
  border: 2px solid var(--primary-500);
  transform: scale(1.3);
  transition: all 0.7s ease-in-out;
}

.service-overlay {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.8s ease-in-out;
  height: 100%;
  transform: translateY(65%);
}

.service-overlay::after {
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  background: var(--primary-500);
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}

.service-title {
  color: var(--white);
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: all 0.8s ease-in-out;
}

.service-title .underline {
  margin-left: 0;
  width: 3rem;
  height: 0.12rem;
}

.service-overlay p {
  color: var(--white);
  letter-spacing: 0.6px;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-top: 2px solid var(--primary-500);
  opacity: 0;
  position: relative;
  transition: all 0.8s ease-in-out;
}

@media screen and (min-width: 576px) {
  .service-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .service-center {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
  }
  .service-info {
    margin-bottom: 0;
  }
  .service {
    margin-bottom: 0;
  }

  .service-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .service-overlay::after {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (min-width: 1120px) {
  .service-overlay::after {
    height: 4rem;
    width: 4rem;
  }
}

/* 
============
Cards
============
*/
.cards .section-title {
  margin-bottom: 2rem;
}

.card {
  margin-bottom: 2rem;
  background: var(--grey-200);
  border-radius: var(--borderRadius);
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.8s ease-in-out;
}

.card:hover {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-animation {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-animation .card-img {
  transform: scale(1.22);
  filter: blur(2px);
}

.card-animation .card-hidden {
  opacity: 1;
  transform: scale(1);
}

.card-animation .card-icon {
  transform: translate(-50%, 50%);
  font-size: 2rem;
}

/* .card:hover .card-img {
  transform: scale(1.22);
  filter: blur(2px);
} */

/* .card:hover .card-hidden {
  opacity: 1;
  transform: scale(1);
} */

/* .card:hover .card-icon {
  transform: translate(-50%, 50%);
  font-size: 2rem;
} */

.card-img-container {
  position: relative;
}

.card-container {
  overflow: hidden;
  position: relative;
}

.card-img {
  transition: all 0.8s ease-in-out;
  height: 16rem;
}

.card-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.8s ease-in-out;
  opacity: 0;
  transform: scale(0);
  border: 2px solid var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.card-hidden::after {
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--primary-500);
  clip-path: polygon(100% 100%, 0 0, 0 100%);
}

.card-hidden::before {
  content: "";
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primary-500);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.card-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  color: var(--primary-500);
  background: var(--primary-100);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  transform: translate(-50%, -10%);
  transition: all 0.8s ease-in-out;
  border: 4px solid var(--grey-200);
}

.card-hidden h4 {
  border-bottom: 2px solid var(--primary-500);
  width: 300px;
  margin: 0 auto;
}

.card-hidden p {
  letter-spacing: var(--letterSpacing);
}

.card-info {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.card-btn {
  font-size: 0.75rem;
  text-transform: capitalize;
}

@media screen and (min-width: 676px) {
  .cards-center {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    flex: 0 0 calc(50% - 2rem);
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    flex-basis: calc(33.333% - 2rem);
    margin-bottom: 0;
  }
}

/* 
===============
Works
===============
*/
.works {
  background: var(--grey-200);
}

.works-heading {
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.works-heading h3 {
  letter-spacing: var(--letterSpacing);
}

.works-heading .underline {
  margin-left: 0;
  background: var(--secondary-500);
}

.works-heading p {
  letter-spacing: var(--letterSpacing);
  font-style: italic;
}

.step {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem 0;
}

.step-transition .step-icon {
  transform: scale(1.2);
  border-color: var(--white);
}

.step-transition .step-box h5 .underline {
  opacity: 1;
}

.step-transition .arrow-icon {
  opacity: 1;
}

.step-box {
  text-align: center;
  flex: 0 0 90%;
}

.step-icon {
  color: var(--white);
  background: var(--secondary-500);
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border: 2px solid transparent;
  transform: scale(0.95);
  transition: all 0.8s ease-in-out;
}

.step-box h5 {
  margin-bottom: 0.5rem;
  letter-spacing: var(--letterSpacing);
  color: var(--secondary-600);
}

.step-box h5 .underline {
  background: var(--secondary-500);
  width: 90px;
  transition: all 0.8s ease-in-out;
  opacity: 0;
}

.step-box p {
  max-width: 20rem;
  margin: 0 auto;
  letter-spacing: 0.5px;
  color: var(--secondary-600);
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  transition: all 0.8s ease-in-out;
  border-radius: var(--borderRadius);
}

.step-arrow {
  flex: 0 0 10%;
}

.arrow-icon {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 1.2rem;
  color: var(--secondary-500);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

@media screen and (min-width: 576px) {
  .works-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .works-heading {
    margin-left: 3rem;
  }
  .step {
    flex-direction: row;
    margin-right: 0;
  }
  .step:nth-of-type(4) .arrow-icon {
    opacity: 0;
  }
  .step .arrow-icon {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .works-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .works-center {
    grid-template-columns: repeat(4, 1fr);
  }
  .step {
    margin-bottom: 0;
  }
}

/* 
=============
Exports
=============
*/
.experts {
  background: var(--grey-100);
}

.experts-header .section-title h3 {
  margin-bottom: 0;
}

.experts-header p {
  margin: 0 auto 3rem;
  padding: 0 2rem;
  letter-spacing: 2px;
  font-style: italic;
}

.expert-box {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin-bottom: 2rem;
}

.expert-img-container {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expert-img-container img {
  border-radius: 50%;
  border: 3px solid var(--primary-500);
}

.expert-info h3 {
  margin-bottom: 0.4rem;
  letter-spacing: var(--letterSpacing);
}

.expert-info h3 .underline {
  margin-left: 0;
}

.expert-info h5 {
  margin-bottom: 0;
  letter-spacing: var(--letterSpacing);
}

.expert-info p {
  margin-top: 0.2rem;
  letter-spacing: var(--letterSpacing);
}

.expert-social a {
  color: var(--primary-500);
}

@media screen and (min-width: 676px) {
  .experts-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .expert-box {
    margin-bottom: 0;
  }
  .expert-social {
    font-size: 1.2rem;
  }
}

/* 
==============
Filler Section
==============
*/
.filler {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/business-computer-min.jpeg") no-repeat center/cover;
}

.filler-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filler-info h2 {
  color: var(--white);
  letter-spacing: var(--letterSpacing);
}

.filler-info h2 .underline {
  background: var(--secondary-500);
}

.filler-info p {
  color: var(--white);
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  padding: 1rem;
  line-height: 1.3;
  max-width: 800px;
  text-align: center;
}

.filler-icons {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
}

.filler-icon {
  color: var(--white);
  font-size: 3rem;
  background: var(--secondary-600);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--white);
  font-size: 2.3rem;
}

/* 
=============
Key Section
=============
*/
.key-header-text {
  text-align: center;
  padding: 0 2rem;
  font-style: italic;
  letter-spacing: var(--letterSpacing);
  margin: 1.25rem auto 3rem;
}

.key-box {
  background: var(--grey-300);
  padding: 1.5rem 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 2px 2px 5px 1px var(--black);
}

.key-icon {
  font-size: 2rem;
  background: var(--primary-500);
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-bottom: 0.4rem;
  border: 2px solid var(--white);
  color: var(--secondary-900);
}

.key-box h5 {
  letter-spacing: var(--letterSpacing);
  color: var(--primary-600);
  margin-bottom: 0;
  font-weight: bold;
}

.key-box p {
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .key-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .key-box:nth-of-type(5),
  .key-box:nth-of-type(6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .key-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .key-box:nth-of-type(4) {
    margin-bottom: 0;
  }
}

/* 
=============
Technology
=============
*/
.technology {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/technogy-min.jpg") no-repeat center/cover;
}

.technology .section-title {
  margin-bottom: 2rem;
}

.technology .section-title h2 {
  color: var(--white);
}

.tech-item {
  background: rgba(2, 2, 2, 0.6);
  padding: 1rem;
  margin-bottom: 2rem;
}

.tech-item h3 {
  color: var(--primary-500);
  margin-bottom: 0.3rem;
  padding: 0 1rem;
  letter-spacing: 2px;
}

.icon-box {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
  color: var(--white);
  margin-left: 1rem;
}

.tech-icon {
  color: var(--primary-500);
}

.icon-box p {
  margin: 0;
  letter-spacing: 2px;
  text-transform: capitalize;
}

@media screen and (min-width: 576px) {
  .technology-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .tech-item:nth-of-type(3),
  .tech-item:nth-of-type(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 776px) {
  .technology-center {
    grid-template-columns: repeat(3, 1fr);
  }
  .tech-item:nth-of-type(3) {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .technology-center {
    grid-template-columns: repeat(4, 1fr);
  }
  .tech-item:nth-of-type(1),
  .tech-item:nth-of-type(2),
  .tech-item:nth-of-type(3) {
    margin-bottom: 0;
  }
}

/* 
=============
Contact
=============
*/
.contact {
  background: var(--secondary-500);
}

.about-contact-info h2 {
  letter-spacing: var(--letterSpacing);
  color: var(--white);
  margin-bottom: 1rem;
}

.about-contact-info h2 .underline {
  margin-left: 0;
  background: var(--white);
}

.about-contact-info h4 {
  color: var(--black);
  letter-spacing: var(--letterSpacing);
}

.contact-icon-container {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 8px;
  color: var(--primary-600);
  font-size: 1.3rem;
  padding: 0 0.2rem;
}

.contact-icon-container h4 {
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--secondary-600);
  margin: 0 5px 0 0;
  color: var(--white);
  font-size: 1.3rem;
}

.contact-icon-container p {
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  margin: 0;
}

.contact-icon-container a {
  margin: 0;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 0.9rem;
  transition: var(--transition);
}

.contact-icon-container a:hover {
  color: var(--primary-600);
}

.contact-social-container a {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.contact-social-container a {
  transition: var(--transition);
}

.contact-social-container a:nth-of-type(1),
.contact-social-container a:nth-of-type(3) {
  color: var(--white);
}

.contact-social-container a:nth-of-type(2),
.contact-social-container a:nth-of-type(4) {
  color: var(--primary-600);
}

.contact-social-container a:hover {
  color: var(--secondary-800);
}

@media screen and (min-width: 375px) {
  .contact-icon-container a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 400px) {
  .contact-icon-container a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
}

/* Form */
.form {
  background: var(--primary-600);
  box-shadow: 2px 2px 5px 3px var(--black);
  margin-bottom: 0;
}

.about-form h3 {
  letter-spacing: 2px;
  color: var(--white);
}

.about-form h3 .underline {
  background: var(--white);
  margin-left: 0;
}

.form-control {
  border: none;
  border-bottom: 2px solid var(--white);
  background: var(--primary-600);
  width: 100%;
  padding: 1rem 0.4rem 1rem;
  outline-color: var(--secondary-600);
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--white);
  font-size: 1.3rem;
}

#name {
  text-transform: capitalize;
}

.form-control::placeholder {
  color: var(--white);
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.about-form textarea {
  resize: none;
  margin-bottom: 1rem;
  padding: 1rem 0.4rem 4rem;
}

.about-form button {
  background: var(--white);
  border: none;
  padding: 0.7rem 0;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--primary-600);
  cursor: pointer;
  transition: var(--transition);
}

.about-form button:hover {
  background: var(--secondary-700);
  color: var(--white);
}

/* 
=============
Footer
=============
*/
.footer {
  background: var(--primary-500);
  background: var(--black);
  padding: 3rem 0;
}

.footer-icons {
  text-align: center;
  margin-bottom: 0.5rem;
}

.footer-icons a {
  color: var(--secondary-600);
  margin-right: 0.3rem;
  font-size: 2rem;
  transition: var(--transition);
}

.footer-icons a:hover {
  color: var(--white);
}

.footer-text {
  text-align: center;
  color: var(--secondary-500);
  letter-spacing: var(--letterSpacing);
  letter-spacing: 2px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.service-pro {
  background: var(--primary-600);
  color: var(--white);
  padding: 2px 5px;
  border: 2px solid var(--white);
}
